.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 6px;
  padding: 20px;
  height: auto;

  &--show {
    opacity: 1;
    transform: translateY(0px);
    transition: all 270ms ease-out;
  }

  &--hide {
    opacity: 0;
    transform: translateY(-30px);
    transition: all 270ms ease-out;
  }

  &__content {
    text-align: left;
  }
}
