.header {
  display: flex;
  justify-content: flex-end;
  grid-area: header;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &__wrapper-button {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    grid-gap: 20px;
  }
}
